<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dept">
	<insert id="insertDept" parameterType="deptVO">
		INSERT INTO sdept(dept_cd, dept_nm)
		VALUES (#{deptCd}, #{deptNm})
	</insert>
	
	 <select id="selectDeptByNameAndCode" parameterType="map" resultType="deptDTO">
        SELECT *
        FROM sdept
        WHERE 1=1
	  	<if test="name != null and name != ''">
	    	AND dept_nm LIKE CONCAT('%', #{name},'%')
	  	</if>
	  	<if test="code != null and code != ''">
	    	AND dept_cd LIKE CONCAT('%',#{code},'%')
	  	</if>
	  	ORDER BY dept_cd ASC
    </select>
    
    <update id="updateDept" parameterType="deptVO">
    	UPDATE sdept
    	SET dept_nm = #{deptNm}
    	WHERE dept_cd = #{deptCd}
	</update>
	
	<delete id="deleteDept">
		DELETE
		FROM sdept
		WHERE dept_cd IN
		<foreach collection="ids" item="item" open="(" close=")" separator=",">
		 #{item}
		</foreach>
	</delete>
</mapper>