<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTO Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.sg.ls.dto.EmpDTO" alias="emp"></typeAlias>
		<typeAlias type="com.sg.ls.dto.TradeDTO" alias="tradeDTO"></typeAlias>
		<typeAlias type="com.sg.ls.vo.TradeVO" alias="tradeVO"></typeAlias>
		<typeAlias type="com.sg.ls.dto.DeptDTO" alias="deptDTO"></typeAlias>
		<typeAlias type="com.sg.ls.vo.DeptVO" alias="deptVO"></typeAlias>
		<typeAlias type="com.sg.ls.dto.RankDTO" alias="rankDTO"></typeAlias>
		<typeAlias type="com.sg.ls.vo.RankVO" alias="rankVO"></typeAlias>
		<typeAlias type="com.sg.ls.dto.ItemDTO" alias="itemDTO"></typeAlias>
		<typeAlias type="com.sg.ls.vo.ItemVO" alias="itemVO"></typeAlias>
		<typeAlias type="com.sg.ls.dto.EmpDTO" alias="empDTO"></typeAlias>
		<typeAlias type="com.sg.ls.vo.EmpVO" alias="empVO"></typeAlias>
	</typeAliases>
</configuration>