<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko"
	data-bs-theme="light">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<title>사원 관리</title>
</head>

<body>
	<main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">사원 추가</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal_add">
						<form>
							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>사원아이디</span>
										<input id="empId" type="text" class="form-control" maxlength="4"
											placeholder="영문 또는 숫자 20자리">
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>사원명</span>
										<input id="empNm" type="text" class="form-control" maxlength="30"
											placeholder="30자리 이하 사원명">
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>비밀번호</span>
										<input id="empPw" type="password" class="form-control"
											pattern="/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/"
											maxlength="30" placeholder="30자리 이하 비밀번호">
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>비밀번호 확인</span>
										<input id="chk_empPw" type="password" class="form-control"
											pattern="/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/"
											maxlength="30" placeholder="30자리 이하 비밀번호 확인">
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col-4">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>권한</span>
										<select id="empRole" class="form-select">
											<option value="ROLE_USER" selected>일반 사용자</option>
											<option value="ROLE_ADMIN">관리자</option>
										</select>
									</div>
								</div>

								<div class="col-4">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>직급</span>
										<select id="rankCd" class="form-select"></select>
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col-6">
									<div class="input-group">
										<span class="input-group-text"><span style="color: red;">*
												&nbsp;</span>부서</span>
										<select id="deptCd" class="form-select"></select>
									</div>
								</div>

								<div class="col-4">
									<div class="input-group">
										<span class="input-group-text">입사일</span>
										<input id="ipsaDt" type="date" class="form-control" placeholder="입사일">
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col-6">
									<div class="input-group">
										<span class="input-group-text">전화번호</span>
										<input id="tel" type="text" class="form-control" pattern="^[0-9]+$"
											maxlength="11" placeholder="'-'을 제외한 숫자 11자리">
									</div>
								</div>

								<div class="col-6">
									<div class="input-group">
										<span class="input-group-text">이메일</span>
										<input id="email" type="email" class="form-control" pattern=".+@example\.com"
											maxlength="255" placeholder="이메일 ex) jumoney1012@gmail.com">
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
							id="btn_modal_close">닫기</button>
						<button type="button" class="btn btn-primary" id="btn_add"><i
								class="fa-solid fa-circle-plus"></i>&nbsp;추가</button>
					</div>
				</div>
			</div>
		</div>
		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">사원 관리</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="d-flex me-2 gap-3">
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
						data-bs-target="#exampleModal"><i class="fa-solid fa-circle-plus"></i>&nbsp; 추가</button>
					<button id="btn_remove" type="button" class="btn btn-outline-danger"><i
							class="fa-solid fa-trash-can"></i>&nbsp;
						삭제</button>
				</div>
			</div>
		</div>
		<div>
			<div class="row p-2 mb-3 align-items-center border rounded">
				<div class="col-auto">
					<label for="srch_emp_nm" class="col-form-label">사원명</label>
				</div>
				<div class="col-auto">
					<input type="text" class="form-control form-control-sm" id="srch_emp_nm" placeholder="사원명">
				</div>
				<div class="col-auto">
					<label for="srch_emp_id" class="col-form-label">사원아이디</label>
				</div>
				<div class="col-auto">
					<input type="text" class="form-control form-control-sm" id="srch_emp_id" placeholder="사원아이디">
				</div>

				<div class="col" style="margin-left:auto;">
					<button type="button" id="btn_srch" class="btn btn-outline-secondary btn-sm"><i
							class="fa-solid fa-magnifying-glass"></i>&nbsp; 조회</button>
				</div>
			</div>
			<div class="row">
				<div class="col-5">
					<div id="tuiGrid"></div>
				</div>
				<div id="edit_wrap" class="col invisible">
					<div class="row mb-4 justify-content-end">
						<div class="col-auto">
							<button id="btn_modify" type="button" class="btn btn-outline-primary"><i
									class="fa-solid fa-pen"></i>&nbsp;
								수정</button>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>사원아이디</span>
								<input id="e_empId" type="text" class="form-control" maxlength="4"
									placeholder="영문 또는 숫자 20자리" disabled readonly>
							</div>
						</div>

						<div class="col">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>사원명</span>
								<input id="e_empNm" type="text" class="form-control" maxlength="30"
									placeholder="30자리 이하 사원명">
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col-4">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>권한</span>
								<select id="e_empRole" class="form-select">
									<option value="ROLE_USER" selected>일반 사용자</option>
									<option value="ROLE_ADMIN">관리자</option>
								</select>
							</div>
						</div>

						<div class="col-4">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>직급</span>
								<select id="e_rankCd" class="form-select"></select>
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col-6">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>부서</span>
								<select id="e_deptCd" class="form-select"></select>
							</div>
						</div>

						<div class="col-4">
							<div class="input-group">
								<span class="input-group-text">입사일</span>
								<input id="e_ipsaDt" type="date" class="form-control" placeholder="입사일">
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col-6">
							<div class="input-group">
								<span class="input-group-text">전화번호</span>
								<input id="e_tel" type="text" class="form-control" pattern="^[0-9]+$" maxlength="11"
									placeholder="'-'을 제외한 숫자 11자리">
							</div>
						</div>

						<div class="col-6">
							<div class="input-group">
								<span class="input-group-text">이메일</span>
								<input id="e_email" type="email" class="form-control" pattern=".+@example\.com"
									maxlength="255" placeholder="이메일 ex) jumoney1012@gmail.com">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block layout:fragment="script">
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script type="text/javascript">
			let objSrch = {};
			let ajaxApiUrl = "/api/emp";
			let pkFieldName = "empId";
			let listDept = cmnSelectListAjax('dept');
			let listRank = cmnSelectListAjax('rank');

			const Grid = tui.Grid;

			Grid.applyTheme('striped');

			const myGrid = new Grid({
				el: document.getElementById('tuiGrid'), // Container element
				bodyHeight: 550,
				rowHeaders: ['checkbox'],
				selectionUnit: 'row',
				draggable: false,
				columns: [
					{
						header: '사원 아이디',
						name: 'empId'
					},
					{
						header: '사원 명',
						name: 'empNm'
					},
					{
						header: '직급',
						name: 'rankNm'
					},
					{
						header: '부서',
						name: 'deptNm'
					},
					{
						header: '권한',
						name: 'empRole',
						hidden: true
					},
					{
						header: '직책코드',
						name: 'rankCd',
						hidden: true,
					},
					{
						header: '부서코드',
						name: 'deptCd',
						hidden: true,
					},
					{
						header: '전화번호',
						name: 'tel',
						hidden: true,
						validation: {
							dataType: "number"
						}
					},
					{
						header: '입사일',
						name: 'ipsaDt',
						hidden: true,
					}
				]
			});

			let obj_ajax = {
				empId: null,
				empPw: null,
				empNm: null,
				empRole: null,
				rankCd: null,
				deptCd: null,
				tel: "",
				email: "",
				ipsaDt: null,
			}

			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": true,
				"positionClass": "toast-bottom-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "100",
				"hideDuration": "1000",
				"timeOut": "1500",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}

			/*
				메소드 선언
			*/

			// 사원 추가 Ajax 통신
			function addAjax(obj_ajax) {
				$.ajax({
					type: 'POST',
					url: ajaxApiUrl,
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					data: JSON.stringify(obj_ajax),
					success: function (result) {
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							$('#modal_add').find('input').val("");
							$('#btn_modal_close').trigger('click');

							listAjax(objSrch, obj_ajax[pkFieldName]);
						} else {
							let errFieldId = "#" + result.data;
							$(errFieldId).trigger('focus');
						}
					},
					error: function (e) {
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 사원 조회 Ajax 통신
			function listAjax(objSrch, selKey = "") {
				let urlStr = "";
				let queryString = '';

				if (Object.keys(objSrch).length > 0) {
					queryString += '?';
				}

				let firstFg = true;

				for (const key in objSrch) {
					if (firstFg) {
						queryString += key + '=' + objSrch[key];
					} else {
						queryString += '&' + key + '=' + objSrch[key];
					}

					firstFg = false;
				}

				urlStr = ajaxApiUrl + queryString;

				$.ajax({
					type: 'GET',
					url: urlStr,
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					success: function (result) {
						myGrid.resetData(result);

						$('#edit_wrap').find('input').val('');

						if (!($('#edit_wrap').hasClass('invisible'))) {
							$('#edit_wrap').addClass('invisible');
						}

						let rowData = myGrid.getData();

						if (selKey != "") {
							for (let i = 0; i < rowData.length; i++) {
								console.log(rowData[i][pkFieldName], selKey)
								if (rowData[i][pkFieldName] == selKey) {
									myGrid.focus(rowData[i].rowKey, pkFieldName, true);

									break;
								}
							}
						} else if (rowData.length > 0) {
							myGrid.focus(0, pkFieldName, true);
						}
					},
					error: function (e) {
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 사원 수정 Ajax 통신
			function empModifyAjax(obj_ajax, key) {
				let urlStr = ajaxApiUrl + '/' + key;

				$.ajax({
					type: 'PUT',
					url: urlStr,
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					data: JSON.stringify(obj_ajax),
					success: function (result) {
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							listAjax(objSrch, key);
						} else {
							let errFieldId = "#e_" + result.data;
							$(errFieldId).trigger('focus');
						}
					},
					error: function (e) {
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 사원 삭제 Ajax 통신
			function removeAjax(arr_ids) {
				$.ajax({
					type: 'POST',
					url: ajaxApiUrl + "/delete",
					dataType: 'json',
					async: false,
					data: {
						ids: arr_ids
					},
					success: function (result) {
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							listAjax(objSrch);
						}
					},
					error: function (e) {
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			/*
				이벤트 정의
			*/

			// 그리드 이벤트 정의

			// 테이블에서 선택 영역을 변경한 경우
			myGrid.on('focusChange', (evt) => {
				if (evt.rowKey != evt.prevRowKey) {
					let idPrefix = '#e_';
					let rowData = myGrid.getRow(evt.rowKey);

					for (key in rowData) {
						$(idPrefix + key).val(rowData[key]);
					}

					$('#edit_wrap').find('input').removeClass('bg-warning-subtle text-warning-emphasis');
					$('#edit_wrap').removeClass('invisible');
				}
			});

			$(function () {
				// 모달 생성시
				$('#exampleModal').on('shown.bs.modal', function (evt) {
					let inputs = $('#modal_add').find('input');
					let id = "";

					for (let i = 0; i < inputs.length; i++) {
						id = '#' + $(inputs[i]).attr('id');

						if ($(id).val() == '') {
							$(id).trigger('focus');

							break;
						}
					}
				});

				// 모달의 추가 버튼
				$('#btn_add').on('click', function (evt) {
					// 사원 객체 생성
					let inputs = $('#modal_add').find('input');
					let prop_name = "";

					for (let i = 0; i < inputs.length; i++) {
						prop_name = $(inputs[i]).attr('id');

						obj_ajax[prop_name] = $('#' + prop_name).val();
					}

					addAjax(obj_ajax);
				});

				// 조회 버튼
				$('#btn_srch').on('click', function (evt) {
					let srch_tr_nm = $('#srch_tr_nm').val();
					let srch_tr_cd = $('#srch_tr_cd').val();

					objSrch.srch_tr_nm = srch_tr_nm;
					objSrch.srch_tr_cd = srch_tr_cd;

					listAjax(objSrch);
				});

				// 수정 버튼
				$('#btn_modify').on('click', function (evt) {
					let focusRowKey = myGrid.getFocusedCell().rowKey;
					let idPrefix = '#e_';
					let rowData = myGrid.getRow(focusRowKey);
					let changeRowData = {};

					for (key in obj_ajax) {
						if ($(idPrefix + key).val() != rowData[key]) {
							changeRowData[key] = $(idPrefix + key).val();
						}
					}

					if (Object.keys(changeRowData).length > 0) {

						if (confirm("수정 사항을 저장하시겠습니까?")) {
							Object.assign(rowData, changeRowData);

							for (key in obj_ajax) {
								obj_ajax[key] = rowData[key];
							}

							empModifyAjax(obj_ajax, obj_ajax[pkFieldName]);
						}
					} else {
						toastr.warning('수정사항이 없습니다.', '수정사항 없음.')
					}
				});

				// 삭제 버튼
				$('#btn_remove').on('click', function (evt) {
					let checkRows = myGrid.getCheckedRows();

					if (checkRows.length > 0) {
						if (confirm('삭제하시겠습니까?')) {
							let ids = new Array;

							for (let i = 0; i < checkRows.length; i++) {
								ids.push(checkRows[i][pkFieldName]);
							}

							removeAjax(ids);
						}
					} else {
						toastr.warning('체크된 행이 없습니다.', '체크 항목 없음.');
					}
				});

				// 수정 input 변경
				$('#edit_wrap').find('input').on('change', function (evt) {
					let focusRowKey = myGrid.getFocusedCell().rowKey;
					let idPrefix = 'e_';
					let rowData = myGrid.getRow(focusRowKey);
					let inputId = $(this).attr('id');
					let propName = inputId.replace(idPrefix, '');

					if ($(this).val() != rowData[propName]) {
						if (!($(this).hasClass('bg-warning-subtle text-warning-emphasis'))) {
							$(this).addClass('bg-warning-subtle text-warning-emphasis');
						}
					}
				});

				// 셀렉트 목록 설정
				cmnSetSelect('#deptCd', 'deptCd', 'deptNm', listDept);
				cmnSetSelect('#e_deptCd', 'deptCd', 'deptNm', listDept);
				cmnSetSelect('#rankCd', 'rankCd', 'rankNm', listRank);
				cmnSetSelect('#e_rankCd', 'rankCd', 'rankNm', listRank);

				// 페이지 초기 처리
				$('#btn_srch').trigger('click');

			});


		</script>
	</th:block>
</body>

</html>