<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="shared/_layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko"
	data-bs-theme="light">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<title>믈류관리시스템</title>
</head>

<body>
	<main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">거래처 추가</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal_trade_add">
						<form>
							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_trCd"><span style="color: red;">*
												&nbsp;</span>거래처코드</span>
										<input id="trCd" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_trCd"
											maxlength="4" placeholder="영문 또는 숫자 4자리">
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_trNm"><span style="color: red;">*
												&nbsp;</span>거래처명</span>
										<input id="trNm" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_trNm"
											maxlength="30" placeholder="30자리 이하 거래처명">
									</div>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col-7">
									<div class="input-group">
										<span class="input-group-text" id="label_trNum">사업자번호</span>
										<input id="trNum" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_trNum"
											pattern="^[0-9]+$" maxlength="10" placeholder="'-'을 제외한 숫자 10자리">
									</div>
								</div>

								<div class="col-5">
									<div class="input-group">
										<span class="input-group-text" id="label_ceoNm">대표자명</span>
										<input id="ceoNm" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_ceoNm"
											maxlength="10" placeholder="10자리 이하 대표자명">
									</div>
								</div>
							</div>
							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_addr">주소</span>
										<input id="addr" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_addr"
											maxlength="80" placeholder="80자리 이하 주소">
										<button class="btn btn-outline-secondary" type="button" id="btn_find_addr"><i
												class="fa-solid fa-magnifying-glass"></i>&nbsp; 검색</button>
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_upte">업태</span>
										<input id="upte" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_upte"
											maxlength="30" placeholder="30자리 이하 업태">
									</div>
								</div>

								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_jongmok">종목</span>
										<input id="jongmok" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_jongmok"
											maxlength="30" placeholder="30자리 이하 종목">
									</div>
								</div>
							</div>

							<div class="row mb-4">
								<div class="col">
									<div class="input-group">
										<span class="input-group-text" id="label_tel">전화번호</span>
										<input id="tel" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_tel"
											pattern="^[0-9]+$" maxlength="11" placeholder="'-'을 제외한 숫자 11자리">
									</div>
								</div>

								<div class="col">
									<div class="input-group mb-3">
										<span class="input-group-text" id="label_fax">팩스</span>
										<input id="fax" type="text" class="form-control"
											aria-label="Sizing example input" aria-describedby="label_fax"
											pattern="^[0-9]+$" maxlength="11" placeholder="'-'을 제외한 숫자 11자리">
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
							id="btn_modal_close">닫기</button>
						<button type="button" class="btn btn-primary" id="btn_add"><i
								class="fa-solid fa-circle-plus"></i>&nbsp;추가</button>
					</div>
				</div>
			</div>
		</div>

		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">거래처 관리</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="d-flex me-2 gap-3">
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
						data-bs-target="#exampleModal"><i class="fa-solid fa-circle-plus"></i>&nbsp; 추가</button>
					<button id="btn_remove" type="button" class="btn btn-outline-danger"><i
							class="fa-solid fa-trash-can"></i>&nbsp;
						삭제</button>
				</div>
			</div>
		</div>
		<div>
			<div class="row p-2 mb-3 align-items-center border rounded">
				<div class="col-auto">
					<label for="srch_tr_nm" class="col-form-label">거래처명</label>
				</div>
				<div class="col-auto">
					<input type="text" class="form-control form-control-sm" id="srch_tr_nm" placeholder="거래처명">
				</div>
				<div class="col-auto">
					<label for="srch_tr_cd" class="col-form-label">거래처코드</label>
				</div>
				<div class="col-auto">
					<input type="text" class="form-control form-control-sm" id="srch_tr_cd" placeholder="거래처코드">
				</div>

				<div class="col" style="margin-left:auto;">
					<button type="button" id="btn_srch" class="btn btn-outline-secondary btn-sm"><i
							class="fa-solid fa-magnifying-glass"></i>&nbsp; 조회</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div id="grid"></div>
				</div>
				<div id="edit_wrap" class="col invisible">
					<div class="row mb-4 justify-content-end">
						<div class="col-auto">
							<button id="btn_modify" type="button" class="btn btn-outline-primary"><i
									class="fa-solid fa-pen"></i>&nbsp;
								수정</button>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text">거래처코드</span>
								<input id="e_trCd" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_trCd" maxlength="4" placeholder="영문 또는 숫자 4자리" disabled
									readonly>
							</div>
						</div>

						<div class="col">
							<div class="input-group">
								<span class="input-group-text"><span style="color: red;">*
										&nbsp;</span>거래처명</span>
								<input id="e_trNm" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_trNm" maxlength="30" placeholder="30자리 이하 거래처명">
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-7">
							<div class="input-group">
								<span class="input-group-text">사업자번호</span>
								<input id="e_trNum" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_trNum" pattern="\d*" maxlength="10"
									placeholder="'-'을 제외한 숫자 10자리">
							</div>
						</div>

						<div class="col-5">
							<div class="input-group">
								<span class="input-group-text">대표자명</span>
								<input id="e_ceoNm" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_ceoNm" maxlength="10" placeholder="10자리 이하 대표자명">
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text">주소</span>
								<input id="e_addr" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_addr" maxlength="80" placeholder="80자리 이하 주소">
								<button class="btn btn-outline-secondary" type="button" id="btn_e_find_addr"><i
										class="fa-solid fa-magnifying-glass"></i>&nbsp; 검색</button>
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text">업태</span>
								<input id="e_upte" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_upte" maxlength="30" placeholder="30자리 이하 업태">
							</div>
						</div>

						<div class="col">
							<div class="input-group">
								<span class="input-group-text">종목</span>
								<input id="e_jongmok" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_jongmok" maxlength="30" placeholder="30자리 이하 종목">
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text">전화번호</span>
								<input id="e_tel" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_tel" pattern="\d*" maxlength="11"
									placeholder="'-'을 제외한 숫자 11자리">
							</div>
						</div>

						<div class="col">
							<div class="input-group mb-3">
								<span class="input-group-text">팩스</span>
								<input id="e_fax" type="text" class="form-control" aria-label="Sizing example input"
									aria-describedby="e_fax" pattern="\d*" maxlength="11"
									placeholder="'-'을 제외한 숫자 11자리">
							</div>
						</div>
					</div>
				</div>
			</div>
	</main>
	<th:block layout:fragment="script">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script type="text/javascript">
			let objSrch = {};
			const Grid = tui.Grid;

			Grid.applyTheme('striped');

			const instance = new Grid({
				el: document.getElementById('grid'), // Container element
				bodyHeight: 550,
				rowHeaders: ['checkbox'],
				selectionUnit: 'row',
				draggable: false,
				columns: [
					{
						header: '거래처 코드',
						name: 'trCd'
					},
					{
						header: '거래처 명',
						name: 'trNm'
					},
					{
						header: '사업자 번호',
						align: 'center',
						name: 'trNum',
						validation: {
							dataType: "number"
						}
					},
					{
						header: '대표자 명',
						name: 'ceoNm'
					},
					{
						header: '주소',
						name: 'addr',
						hidden: true
					},
					{
						header: '업태',
						name: 'upte',
						hidden: true
					},
					{
						header: '전화번호',
						name: 'tel',
						hidden: true,
						validation: {
							dataType: "number"
						}
					},
					{
						header: '팩스',
						name: 'fax',
						hidden: true,
						validation: {
							dataType: "number"
						}
					},
					{
						header: '종목',
						name: 'jongmok',
						hidden: true
					}
				]
			});

			let obj_trade = {
				trCd: null,
				trNm: null,
				trNum: null,
				ceoNm: "",
				addr: "",
				upte: "",
				jongmok: "",
				tel: "",
				fax: ""
			}

			/*
				메소드 선언
			*/

			// 거래처 추가 Ajax 통신
			function tradeAddAjax(obj_trade) {
				console.log('추가 데이터:');
				console.log(obj_trade);
				$.ajax({
					type: 'POST',
					url: "/api/trade",
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					data: JSON.stringify(obj_trade),
					success: function (result) {
						console.log(result);
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							$('#modal_trade_add').find('input').val("");
							$('#btn_modal_close').trigger('click');

							tradeListAjax(objSrch);
						} else {
							let errFieldId = "#" + result.data;
							$(errFieldId).trigger('focus');
						}
					},
					error: function (e) {
						console.log(e);
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 거래처 조회 Ajax 통신
			function tradeListAjax(objSrch) {
				let urlStr = "/api/trade";
				let queryString = '';


				if (Object.keys(objSrch).length > 0) {
					queryString += '?';
				}

				let firstFg = true;

				for (const key in objSrch) {
					if (firstFg) {
						queryString += key + '=' + objSrch[key];
					} else {
						queryString += '&' + key + '=' + objSrch[key];
					}

					firstFg = false;
				}

				urlStr = urlStr + queryString;
				console.log(urlStr)
				$.ajax({
					type: 'GET',
					url: urlStr,
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					success: function (result) {
						console.log('조회 데이터: ');
						console.log(result);
						instance.resetData(result);

						$('#edit_wrap').find('input').val('');

						if (!($('#edit_wrap').hasClass('invisible'))) {
							$('#edit_wrap').addClass('invisible');
						}
					},
					error: function (e) {
						console.log(e);
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 거래처 수정 Ajax 통신
			function tradeModifyAjax(obj_trade) {
				console.log('추가 데이터:');
				console.log(obj_trade);
				let urlStr = "/api/trade/" + obj_trade.trCd;
				$.ajax({
					type: 'PUT',
					url: urlStr,
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					data: JSON.stringify(obj_trade),
					success: function (result) {
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							tradeListAjax(objSrch);
						} else {
							let errFieldId = "#e_" + result.data;
							$(errFieldId).trigger('focus');
						}
					},
					error: function (e) {
						console.log(e);
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 거래처 삭제 Ajax 통신
			function tradeRemoveAjax(arr_ids) {
				console.log('추가 데이터:');
				console.log(obj_trade);
				$.ajax({
					type: 'POST',
					url: "/api/trade/delete",
					dataType: 'json',
					async: false,
					data: {
						ids: arr_ids
					},
					success: function (result) {
						console.log(result);
						alert(result.massage);

						if (result.resultCode == 'SUCCESS') {
							tradeListAjax(objSrch);
						}
					},
					error: function (e) {
						console.log(e);
						alert("Ajax 통신에 실패하였습니다.");
					}
				});
			}

			// 다음 주소 API함수
			function execDaumPostcode(flag) {
				new daum.Postcode({
					oncomplete: function (data) {
						let inputId = '';

						if (flag == 'add') {
							inputId = '#addr';
						} else if (flag == 'update') {
							inputId = '#e_addr';
						}
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						var addr = ''; // 주소 변수

						//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
						if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
							addr = data.roadAddress;
						} else { // 사용자가 지번 주소를 선택했을 경우(J)
							addr = data.jibunAddress;
						}

						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						$(inputId).val(addr);
					}
				}).open();
			}

			/*
				이벤트 정의
			*/

			// 그리드 이벤트 정의

			// 테이블에서 선택 영역을 변경한 경우
			instance.on('focusChange', (evt) => {
				console.log('포커스 변경');
				console.log(evt);
				if (evt.rowKey != evt.prevRowKey) {
					console.log(evt);
					console.log('행변경');
					let idPrefix = '#e_';
					let rowData = instance.getRow(evt.rowKey);

					if ($('#edit_wrap').hasClass('invisible')) {
						$('#edit_wrap').removeClass('invisible');
					}

					for (key in rowData) {
						$(idPrefix + key).val(rowData[key]);
					}

					if ($('#edit_wrap').hasClass('invisible')) {
						$('#edit_wrap').removeClass('invisible');
					}

				}
			});

			$(function () {
				// 모달 생성시
				$('#exampleModal').on('shown.bs.modal', function (evt) {
					let inputs = $('#modal_trade_add').find('input');
					let id = "";

					for (let i = 0; i < inputs.length; i++) {
						id = '#' + $(inputs[i]).attr('id');

						if ($(id).val() == '') {
							$(id).trigger('focus');

							break;
						}
					}
				});

				// 모달의 추가 버튼
				$('#btn_add').on('click', function (evt) {
					console.log(obj_trade);
					// 거래처 객체 생성
					let inputs = $('#modal_trade_add').find('input');
					let prop_name = "";

					for (let i = 0; i < inputs.length; i++) {
						prop_name = $(inputs[i]).attr('id');

						obj_trade[prop_name] = $('#' + prop_name).val();
					}

					console.log(obj_trade);
					tradeAddAjax(obj_trade);
				});

				// 모달 주소 검색 버튼
				$('#btn_find_addr').on('click', function (evt) {
					execDaumPostcode('add');
				});

				// 모달 주소 검색 버튼
				$('#btn_e_find_addr').on('click', function (evt) {
					execDaumPostcode('update');
				});

				// 조회 버튼
				$('#btn_srch').on('click', function (evt) {
					let srch_tr_nm = $('#srch_tr_nm').val();
					let srch_tr_cd = $('#srch_tr_cd').val();

					if (srch_tr_nm != '') objSrch.srch_tr_nm = srch_tr_nm;
					if (srch_tr_cd != '') objSrch.srch_tr_cd = srch_tr_cd;

					tradeListAjax(objSrch);
				});

				// 수정 버튼
				$('#btn_modify').on('click', function (evt) {
					let focusRowKey = instance.getFocusedCell().rowKey;
					let idPrefix = '#e_';
					let rowData = instance.getRow(focusRowKey);
					let changeRowData = {};

					for (key in obj_trade) {
						if ($(idPrefix + key).val() != rowData[key]) {
							changeRowData[key] = $(idPrefix + key).val();
						}
					}

					if (Object.keys(changeRowData).length > 0) {

						if (confirm("수정 사항을 저장하시겠습니까?")) {
							Object.assign(rowData, changeRowData);

							for (key in obj_trade) {
								obj_trade[key] = rowData[key];
							}

							tradeModifyAjax(obj_trade);
						}
					} else {
						alert('수정사항이 없습니다.');
					}
				});

				// 삭제 버튼
				$('#btn_remove').on('click', function (evt) {
					let checkRows = instance.getCheckedRows();

					if (checkRows.length > 0) {
						if(confirm('삭제하시겠습니까?')) {
							let ids = new Array;
	
							for (let i = 0; i < checkRows.length; i++) {
								ids.push(checkRows[i].trCd);
							}
	
							tradeRemoveAjax(ids);
						}
					} else {
						alert('체크된 행이 없습니다.');
					}
				});


			});


		</script>
	</th:block>
</body>

</html>